# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# === Virtual Environments ===
.venv/
env/
venv/

# === Editor and OS Files ===
.DS_Store
.vscode/
.idea/

# === Output Data ===
tiles_*/
archive/
outputs/

# === Secrets ===
secrets.json

# === Test Artifacts ===
*.coverage
.cache/
htmlcov/

*.egg-info/
*.eggs/